@-webkit-keyframes backgrnd {
  0%  { background-color: #FF0000; }
  49% { background-color: #FF0000; }
  50% { background-color: #FFFF00; }
  99% { background-color: #FFFF00; }
  100% { background-color: #FF0000; }
}
@-moz-keyframes backgrnd {
  0%  { background-color: #FF0000; }
  49% { background-color: #FF0000; }
  50% { background-color: #FFFF00; }
  99% { background-color: #FFFF00; }
  100% { background-color: #FF0000; }
}
@keyframes backgrnd {
  0%  { background-color: #FF0000; }
  49% { background-color: #FF0000; }
  50% { background-color: #FFFF00; }
  99% { background-color: #FFFF00; }
  100% { background-color: #FF0000; }
}
@-webkit-keyframes iphone {
  0%  { transform: rotate(20deg); }
  49% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  99% { transform: rotate(-20deg); }
  100% { transform: rotate(20deg); }
}
@-moz-keyframes iphone {
  0%  { transform: rotate(20deg); }
  49% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  99% { transform: rotate(-20deg); }
  100% { transform: rotate(20deg); }
}
@keyframes iphone {
  0%  { transform: rotate(20deg); }
  49% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  99% { transform: rotate(-20deg); }
  100% { transform: rotate(20deg); }
}

body {
  -webkit-animation: backgrnd 0.3s infinite;
  -moz-animation:    backgrnd 0.3s infinite;
  animation:         backgrnd 0.3s infinite;
  overflow: hidden;
}

img {
  -webkit-animation: iphone 0.5s infinite;
  -moz-animation:    iphone 0.5s infinite;
  animation:         iphone 0.5s infinite;
  width: 45%;
  float: right;
}

h1 {
  text-align: center;
}

.buttonContainer {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
