html, body {
  height: 100%;
}

.buttonwork{
  text-align: center;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  color: #fff;
  background-color: #000000;
  border: none;
  left: 50%;
  margin-right: 50%;
  transform: translate(70%, 470%);
  border-radius: 15px;
  box-shadow: 0 9px #5999;
}

.button:hover {background-color: #3e8e41}

.button:active {

  background-color: #3e8e41;
  box-shadow: 0 10px #666;
  transform: translate(70%, 490%);
}
